{% include 'main.html' %}
{% block content %}
<form action="/action_page.php" class = "container" style="width: 40%;margin-top:3rem">
    <h2>Contact Us</h2>
    <div class="mb-3">
    <label for="Input1" class="form-label">Phone Number</label>
    <input type="number" class="form-control" id="Input1" placeholder="9876543210">
    </div>
    <div class="mb-3">
    <label for="Input2" class="form-label">Phone Number</label>
    <input type="email" class="form-control" id="Input2" placeholder="name@gmail.com">
    </div>
    <div class="mb-3">
    <label for="Textarea" class="form-label">Message </label>
    <textarea class="form-control" id="Textarea" rows="6" placeholder="Enter your query here "></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock content %}
