{% extends 'main.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/login_register.css' %}">
<div>
    {% if page == 'login' %}
    <div class="main">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="container form">
                <h2>Login</h2>
                <form>
                    <div class="input-group mb-2 f1">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  </svg>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                    </div>
                    <div class="input-group mb-2 f1">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your password">
                    </div>
                    <div class="f1">
                        <input type="submit" class="btn btn-primary" value="Login" style="width:100%;" />
                    </div>
                </form>
                <!-- <hr/> -->

                <p style="margin-top: 30px;">Don't have an accout?<a href="{% url 'signup' %}"
                        style="float:right;text-decoration: none;">Sign up</a></p>
            </div>
        </form>
    </div>
    {% else %}
    <div class="main">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="container" style="width: 50%;">
                <h2>Register</h2>
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success" style="width: 100%;margin-top: 2rem;" value="Sign Up"/>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}